{% extends "base.html" %}

{% block title %}Notícias | Mudanças Climáticas{% endblock %}

{% block content %}
<section class="pagina-topo">
    <div class="container pagina-topo-content">
        <span class="tag tag-verde">📰 O que está sendo feito?</span>
        <h1>O que está sendo feito para combater?</h1>
        <p>leia agora algumas das notícias mais recentes de alguns países que estão tentando reduzir emissões e enfrentar os impactos climáticos.</p>
    
    </div>
</section>

<section class="container pagina">
    <div class="duas-colunas destaque-solucao">
        
        <div>
            <span class="numero">edição n° 001</span>
            <img class="imagem-arredondada" src="{{ url_for('static', filename='images/Bandeiras_mundo.jpg') }}" alt="Várias bandeiras de países">
        </div>

        <div>
            <h2>Países debatem 1º tratado global contra poluição plástica em meio
            a impasse sobre produção</h2>
            <p>
            Quase 180 países tentam fechar, em 10 dias, um acordo internacional 
            para enfrentar uma crise global que custa US$ 1,5 trilhão por ano e 
            ameaça a saúde, a biodiversidade e populações vulneráveis.
            </p>
        </div>
    </div>

    
<section class="container pagina">
    <div class="duas-colunas destaque-solucao">
        <div> 
            <p>
            Representantes de quase 180 países se reúnem a partir desta terça-feira
            (5), na sede da Organização das Nações Unidas (ONU), em Genebra, para 
            redigir o primeiro tratado mundial destinado a reduzir a poluição por 
            plásticos — uma ameaça crescente ao planeta. O prazo para chegar a um a-
            cordo é de 10 dias.
            </p>
            <p>
            Há três anos, esses mesmos países concordaram em desenvolver um tratado 
            global com poder de lei para reduzir o desperdício e os produtos químicos 
            nocivos que alguns plásticos contêm. Agora, há uma tentativa de transformar
            esse compromisso num documento final.
            </p>
            <p>
            Em novembro do ano passado, as negociações em Busan, na Coreia do Sul, 
            fracassaram. Um grupo de países produtores de petróleo bloqueou qualquer avanço.
            </p>
        </div>

        <img class="imagem-arredondada" src="{{ url_for('static', filename='images/ONU.png') }}" alt="Bandeira da ONU">

    </div>

<section class="container pagina">
    <div class="duas-colunas destaque-solucao">
        <div> 
            <p>
            Mais de 100 países defendem a redução global da produção de plástico e 
            a eliminação gradual de certos produtos químicos e plásticos de uso único.
            Mas nações com grandes indústrias de combustíveis fósseis — como Arábia Saudita,
            China, Rússia e Irã — se opõem às restrições e pressionam por um tratado focado 
            apenas na gestão e reciclagem de resíduos.
            </p>
            <p>
            Os Estados Unidos indicaram apoio a uma versão menos ambiciosa do acordo, sem cortes
            na produção.
            </p>
            
            <h2>Crise global custa trilhões e afeta saúde pública</h2>
            
            <p>
            A poluição causada por resíduos plásticos é um "perigo grave, crescente e subestimado"
            para a saúde. O custo estimado para o mundo é de pelo menos US$ 1,5 trilhão (R$ 8,2 trilhões)
            por ano, segundo relatório publicado na segunda-feira (4) na revista médica The Lancet.
            </p>
            <p>
            Na abertura da reunião, o diplomata equatoriano Luis Vayas Valdivieso, presidente dos 
            debates, alertou os países sobre a gravidade do problema:
            </p>
        </div>
        
        <div> 
            <p>
            "A poluição por plásticos está danificando os ecossistemas, contaminando oceanos e rios,
            ameaçando a biodiversidade, prejudicando a saúde humana e afetando de forma injusta os mais
            vulneráveis. A emergência é real (...) e a responsabilidade recai sobre nós", afirmou.
            </p>
            <p>
            Em discussão há três anos, o texto precisa ser juridicamente vinculante para os países. 
            "Não será alcançado automaticamente", advertiu Valdivieso, ao receber delegados de mais 
            de 600 ONGs que acompanham as negociações."Houve muita diplomacia desde Busan", declarou
            à AFP a diretora executiva do Programa das Nações Unidas para o Meio Ambiente (PNUMA), Inger
            Andersen, que organiza a reunião.
            </p>
            <p>
            "Vai ser fácil? Não. Vai ser simples? Não. É complexo? Sim. Há um caminho para chegar a um
            tratado? Absolutamente", declarou a diplomata, que também afirmou estar "determinada" a al
            cançar um acordo. Segundo Valdivieso, "lições foram aprendidas desde Busan", e as ONGs terão acesso aos grupos
            de contato que discutem os pontos mais sensíveis: as substâncias químicas que devem ser proi
            bidas e os limites máximos de produção.
            </p>
        </div>
    </div>

    <div class="imagem-larga">
        <img src="{{ url_for('static', filename='images/floresta.png') }}" alt="Grande área de floresta e rio preservados">
    </div>

    <div class="faixa-informativa">
        <span>🤝</span>
        <div>
            <h2>A mudança é coletiva</h2>
            <p>
                Grandes políticas e investimentos são fundamentais, enquanto
                atitudes individuais e comunitárias podem complementar essas ações.
            </p>
        </div>
    </div>
</section>
{% endblock %}
